.logo{
    margin: 0;
    text-align: center;
    height: 50px;
    width: 50px;
}

.NavBar{
    /* background-image: url("../images/image0.gif"); */
    background-size: "cover";
    background-repeat: no-repeat;
    padding: 0 !important;
}